/*  Light Switch with vue.js */
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #222451;
  transition: background-color 1s;
}

.bgcolor-change {
  background-color: rgb(255, 255, 219);
}

.maino {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh;
  margin: auto auto;
}

button {
  position: absolute;
  background-color: white;
  color: darkslategray;
  border: 0.2rem solid darkslategray;
  border-radius: 0.5rem;
  width: 10rem;
  height: 3rem;
  transition: all 200ms;
}

button:hover {
  box-shadow: 0 0 15px 5px #e0d148;
}

.btn-bright:hover {
  box-shadow: 0 0 15px 5px #222451;
}
